registry=https://pulpinternet-080063284424.d.codeartifact.us-east-1.amazonaws.com/npm/pulp-ui-repo/
//pulpinternet-080063284424.d.codeartifact.us-east-1.amazonaws.com/npm/pulp-ui-repo/:always-auth=true
//pulpinternet-080063284424.d.codeartifact.us-east-1.amazonaws.com/npm/pulp-ui-repo/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
